<br>

<br>
<div class="w3-content" style="max-width:1200px">


    <!-- myCarousel -->


    <div class="container">

        <br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                <div class="item active">
                    <img src="https://i.imgur.com/XqY2mLR.gif" alt="Chania" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Designer Gown</h3>

                    </div>
                </div>

                <div class="item">
                    <img src="https://i.imgur.com/4YaBGNM.gif" alt="Chania" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Designer Gown</h3>

                    </div>
                </div>

                <div class="item">
                    <img src="https://i.imgur.com/QKa0zf6.jpg" alt="Flower" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Indian Bride</h3>
                    </div>
                </div>

                <div class="item">
                    <img src="https://i.imgur.com/s5QDJHH.gif" alt="dress" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Casual Dress</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="https://i.imgur.com/41UBMSR.jpg" alt="dress" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Bride</h3>
                    </div>
                </div>



            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <br>
            
        </div>
    </div>
    <!-- Grid -->

    <br>
    <br>

    <div class="w3-row w3-padding w3-border">

        <!-- Blog entries -->
        <div class="w3-col l8 s12">

            <!-- Blog entry -->
            <div class="w3-container  w3-margin w3-padding-large">
                <div class="w3-center">
                    <h3>ScissorTailor</h3>
                    <h5>About</h5>
                </div>

                <div class="w3-justify">
                    <img src="https://i.imgur.com/kRhOqa4.jpg" alt="Girl Dress" style="width:50%" class="w3-padding-16">
                    <p>
                        <strong>SissorTailor</strong> , specializes in making women look more beautiful, We understand the art of
                        fine clothing and Hi fashion like no other, we are committed to put the best use of our skills to
                        bring out the innate beauty in Women. , specializes in making women look more beautiful, We understand
                        the art of fine clothing and Hi fashion like no other, we are committed to put the best use of our
                        skills to bring out the innate beauty in Women.
                    </p>
                    <p>We operate a online boutique showroom for awesome dresses for women, we have one of the finest and exclusive
                        range of dresses, Do not take out word for it, take a moment to waltz through the website, you are
                        bound to be dazed at the number of options available in front of you.
                    </p>
                    <p class="w3-left">
                        <button class="w3-button w3-white w3-border" onclick="likeFunction(this)">
                            <b>
                                <i class="fa fa-thumbs-up"></i> Like</b>
                        </button>
                    </p>
                    <p class="w3-right">
                        <button class="w3-button w3-black" onclick="myFunction('demo1')" id="myBtn">
                            <b>Replies &nbsp;</b>
                            <span class="w3-tag w3-white">1</span>
                        </button>
                    </p>
                    <p class="w3-clear"></p>
                    <div class="w3-row w3-margin-bottom" id="demo1" style="display:none">
                        <hr>
                        <div class="w3-col l2 m3">
                            <img src="https://i.imgur.com/N8Sy3QH.jpg" style="width:90px;">
                        </div>
                        <div class="w3-col l10 m9">
                            <h4>Deniel
                                <span class="w3-opacity w3-medium">June 11, 2018, 6:32 PM</span>
                            </h4>
                            <p>Great website! Following</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <!-- Blog entry -->
            <div class="w3-container  w3-margin w3-padding-large">
                <div class="w3-center">
                    <h3>Stiching</h3>
                    <h5>About

                    </h5>
                </div>

                <div class="w3-justify">
                    <img src="https://i.imgur.com/ALFcnVO.gif" alt="Men in Hats" style="width:100%" class="w3-padding-16">
                    <p>
                        <strong>Stiching</strong> We measure twice, cut once !!</p>
                    <p>With the passion to offer the best to all women, we procure finest fabric and make it available to our
                        customers. Needless to say, You will find all the dazzling options and clothing here. We understand
                        the essence of all women, this enables us to dress her up from beautiful traditional wear to sassy
                        modern wear, SissorTailor is any women dream come true for Beautiful dresses.
                    </p>
                    <p class="w3-left">
                        <button class="w3-button w3-white w3-border" onclick="likeFunction(this)">
                            <b>
                                <i class="fa fa-thumbs-up"></i> Like</b>
                        </button>
                    </p>
                    <p class="w3-right">
                        <button class="w3-button" onclick="myFunction('demo2')">
                            <b>Replies &nbsp;</b>
                            <span class="w3-tag w3-white">2</span>
                        </button>
                    </p>
                    <p class="w3-clear"></p>

                    <!-- Example of comment field -->
                    <div id="demo2" style="display:none">
                        <div class="w3-row">
                            <hr>
                            <div class="w3-col l2 m3">
                                <img src="https://i.imgur.com/7k2L2na.jpg" style="width:90px;">
                            </div>
                            <div class="w3-col l10 m9">
                                <h4>Shine
                                    <span class="w3-opacity w3-medium">June 2, 2018, 10:52 PM</span>
                                </h4>
                                <p>Love your page! Simply the best! </p>
                                <br>
                            </div>
                        </div>
                        <div class="w3-row w3-margin-bottom">
                            <div class="w3-col l2 m3">
                                <img src="https://i.imgur.com/U3kTWcA.jpg" style="width:90px;">
                            </div>
                            <div class="w3-col l10 m9">
                                <h4>Angie
                                    <span class="w3-opacity w3-medium">June 4, 2018, 9:12 PM</span>
                                </h4>
                                <p>Loved the fitting</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Blog entry -->
            <div class="w3-container  w3-margin w3-padding-large">
                <div class="w3-center">
                    <h3>Fabric</h3>
                    <h5>About,

                    </h5>
                </div>

                <div class="w3-justify">
                    <img src="https://i.imgur.com/AHfchay.jpg" alt="Runway" style="width:100%" class="w3-padding-16">
                    <p>
                        <strong>Fabric Depot</strong> A great variety of fabric and fabrics by the yard at good prices from our online
                        fabric store. </p>
                    <p>We are one of the largest, most complete, locally and independently-owned fabric stores in the country.
                        We stock a vast array of brand name, first quality fabrics, notions and crafts in our retail store
                        - over 40,000 square feet of retail space! You'll be inspired by tens of thousands of fabrics in
                        our various departments: Quilting, Bridal, Home Decor, and Fashion. Fabric Depot also carries a great
                        selection of quilting supplies, sewing notions, books, patterns, yarns, gifts and even specialty
                        foods!</p>
                    <p class="w3-left">
                        <button class="w3-button w3-white w3-border" onclick="likeFunction(this)">
                            <b>
                                <i class="fa fa-thumbs-up"></i> Like</b>
                        </button>
                    </p>

                </div>
            </div>

            <div class="w3-container w3-margin w3-padding-large">
                <div class="w3-center">
                    <h3>Why Us?</h3>

                </div>

                <div class="w3-justify">
                    <img src="https://i.imgur.com/qocgJom.jpg" alt="Runway" style="width:100%" class="w3-padding-16">


                    <p>Whatever the occasion may be, we promise you the ideal dress you've been looking for. And with a phenomenal
                        shopping experience, your journey towards elegance & better value starts and ends with SicssorTailor.
                        Shop now and add your dream outfit to your closet!</p>
                    <p class="w3-left">
                        <button class="w3-button w3-white w3-border" onclick="likeFunction(this)">
                            <b>
                                <i class="fa fa-thumbs-up"></i> Like</b>
                        </button>
                    </p>

                </div>
            </div>

            <!-- END BLOG ENTRIES -->
        </div>

        <!-- About/Information menu -->
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-white w3-margin">
                <img src="https://i.imgur.com/JlIS8pH.jpg" alt="Jane" style="width:100%" class="w3-grayscale">
                <div class="w3-container">
                    <h4>Ethinic Style</h4>
                    <p>We want you to stand out from the crowd with our impeccable range of party wears - select your favorite
                        style from our designer sarees, anarkali suits, salwar kameez, lehengas or gowns.</p>
                </div>
            </div>
            <hr>

            <!-- Posts -->
            <div class="w3-white w3-margin">
                <div class="w3-container w3-padding">
                    <h4>Popular Posts</h4>
                </div>
                <ul class="w3-ul w3-hoverable w3-white">
                    <li class="w3-padding-16">
                        <img src="https://i.imgur.com/JKYYddv.gif" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">Gorgeous Dress</span>
                        <br>
                        <span></span>
                    </li>
                    <li class="w3-padding-16">
                        <img src="https://i.imgur.com/4KMm8L0.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">Custom Dress</span>
                        <br>
                        <span></span>
                    </li>
                    <li class="w3-padding-16">
                        <img src="https://i.imgur.com/FkiTlxE.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">Dress</span>
                        <br>
                        <span></span>
                    </li>
                    <li class="w3-padding-16">
                        <img src="https://i.imgur.com/5JXiTAq.jpg" alt="Image" class="w3-left w3-margin-right w3-sepia" style="width:50px">
                        <span class="w3-large">Trends</span>
                        <br>
                        <span></span>
                    </li>
                </ul>
            </div>
            <hr>

            <!-- Advertising -->
            <div class="w3-white w3-margin">
                <div class="w3-container w3-padding">
                    <h4>Advertise</h4>
                </div>
                <div class="w3-container w3-white">
                    <div class="w3-container w3-display-container w3-light-grey w3-section" style="height:250px">
                        <span class="w3-display-middle">
                            <iframe width="260px" height="239" src="https://www.youtube.com/embed/gZxPqkf0MVk" frameborder="0"
                                allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </span>

                    </div>
                </div>
            </div>
            <hr>

            <!-- Tags -->
            <div class="w3-white w3-margin">
                <div class="w3-container w3-padding">
                    <h4>Category</h4>
                </div>
                <div class="w3-container w3-white">
                    <p>
                        <span class="w3-tag w3-black w3-margin-bottom">Fashion</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Office Wear</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Casual wear</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Summer Wear</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Indian Wear</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Designer Outfit</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Winter</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Deals</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Accessories</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span>
                        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>

                    </p>
                </div>
            </div>
            <hr>

            <!-- Inspiration -->
            {{!-- <div class="w3-white w3-margin">
                <div class="w3-container w3-padding w3-black">
                    <h4>Inspiration</h4>
                </div>
                <div class="w3-row-padding w3-white">
                    <div class="w3-col s6">
                        <p>
                            <img src="" alt="Jeans" style="width:100%">
                        </p>
                        <p>
                            <img src="" alt="Jeans" style="width:100%">
                        </p>
                    </div>
                    <div class="w3-col s6">
                        <p>
                            <img src="" alt="Men in Hats" style="width:100%" class="w3-grayscale">
                        </p>
                        <p>
                            <img src="" alt="Jeans" style="width:100%">
                        </p>
                    </div>
                </div>
            </div> --}}
            <hr>

            <div class="w3-white w3-margin">
                <div class="w3-container w3-padding w3-black">
                    <h4>Follow Me</h4>
                </div>
                <div class="w3-container w3-xlarge w3-padding">
                    <i class="fa fa-facebook-official w3-hover-opacity"></i>
                    <i class="fa fa-instagram w3-hover-opacity"></i>
                    <i class="fa fa-snapchat w3-hover-opacity"></i>
                    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
                    <i class="fa fa-twitter w3-hover-opacity"></i>
                    <i class="fa fa-linkedin w3-hover-opacity"></i>
                </div>
            </div>
            <hr>

 
            <!-- END About/Intro Menu -->
        </div>

        <!-- END GRID -->
    </div>

    <!-- END w3-content -->
</div>
  <script src="/javascripts/home.js"></script>